html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Helvetica Neue Light", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

i {
  font-weight: 300;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-grow-9 {
  flex-grow: 9;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* Menu */

.menu-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.menu-button {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 30px !important;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: white;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* border: 1px solid rgba(227, 15, 19, 0.7); */
}

.menu-burger {
  display: flex;
  flex-direction: column;
}

.menu-burger div:first-of-type {
  margin-top: 5px;
}

.menu-burger div {
  width: 30px;
  height: 2px;
  background-color: rgb(227, 15, 19);
  margin-bottom: 5px;
}

.menu {
  margin: 30px !important;
  background-color: white;
  opacity: 0.9;
  width: 225px;
  min-width: 225px;
  text-transform: uppercase;
  color: rgb(227, 15, 19);
  letter-spacing: 3.4px;
  padding: 15px !important;
  display: none;
}

.menu h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  margin-top: 40px;
  margin-left: 6px;
}

.menu li {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  color: rgb(227, 15, 19);
  margin-bottom: 15px;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu-socials {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 6px;
}

.menu-socials img {
  height: 20px;
  width: 20px;
  filter: invert(26%) sepia(62%) saturate(2857%) hue-rotate(340deg) brightness(80%) contrast(127%);
  /* filter info, target val rgb(227, 15, 19)
     https://codepen.io/sosuke/pen/Pjoqqp */
}

.menu-button-close {
  width: min-content;
  font-weight: 100;
  font-size: 24px;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 6px;
}

@media (max-height: 414px) {
  .menu ul {
    margin-top: 20px;
  }

  .menu-socials {
    margin-top: 10px;
  }

  .menu-button-close {
    margin-top: 10px;
  }
}

/* Home */

#home-background {
  background-image: url('images/home-background.jpg');
}

#home-wrapper {
  display: flex;
  flex-direction: column;
}

#home-wrapper h1 {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 100;
  color: rgb(227, 15, 19);
  letter-spacing: 3.4px;
  margin-top: 50px;
  margin-left: 30px;
}

#home-content {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#home-menu {
  min-width: 325px;
}

@media (max-width: 1020px) {
  #home-menu {
    margin-left: 228px;
    margin-top: 50px;
  }
}

@media (min-width: 1020px) {
  #home-menu {
    margin-left: 22%;
    margin-top: 8%;
  }
}

@media (max-width: 778px) { /* iPad */
  #home-menu {
    margin-left: 285px;
    margin-top: 80px;
  }
}

@media (max-width: 414px) {
  #home-menu {
    margin-left: 204px;
    margin-top: 10px;
    min-width: auto;
  }
  #home-content {
    max-width: 100%;
  }
}

@media (max-height: 414px) {
  #home-content {
    margin-top: 0;
  }
  #home-menu {
    margin-top: 20px !important;
    margin-left: 160px;
  }
}

@media (max-width: 375px) {
  #home-menu {
    margin-left: 185px;
    margin-top: 0px;
  }
}

@media (max-height: 375px) {
  #home-content {
    margin-top: 0;
  }
  #home-menu {
    margin-top: 0 !important;
  }
}

#home-menu a {
  text-decoration: none;
  color: inherit;
}

#home-menu ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

#home-menu li {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  color: rgb(227, 15, 19);
  margin-bottom: 15px;
}

#socials-icons {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#socials-icons img {
  height: 20px;
  width: 20px;
  filter: invert(26%) sepia(62%) saturate(2857%) hue-rotate(340deg) brightness(80%) contrast(127%);
  /* filter info, target val rgb(227, 15, 19)
     https://codepen.io/sosuke/pen/Pjoqqp */
}

.social-icon {
  margin-right: 10px;
}

/* About */

#about-background {
  background-image: url('images/about-background.jpg');
}

#about-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#about-wrapper p {
  margin: 0;
  color: rgb(0, 36, 59);
  text-align: justify;
  font-size: 12pt;
  font-weight: 100;
  line-height: 16pt;
  hyphens: auto;
}

#profile-picture {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 25px;
}

#profile-picture img {
  width: 190px;
  height: auto;
}

#about-first, #about-second {
  width: 250px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
}

#about-second {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  #about-second {
    margin-left: 290px;
  }
}

@media (max-width: 414px) {
  #about-wrapper {
    justify-content: center;
  }

  #profile-picture {
    margin-right: 50px;
  }

  #about-second {
    margin-left: 25px;
  }
}

/* Exhibitions */

#exhibitions-background {
  background-image: url('images/exhibitions-background.jpg');
}

#exhibitions-top-spacer {
  height: 50px;
}

#exhibitions-wrapper, #press-wrapper {
  margin: 50px;
  margin-top: 0;
  font-weight: 100;
  color: #0a003a;
}

#exhibitions-wrapper h2, #press-wrapper h2 {
  font-size: 14pt;
  font-weight: 100;
  line-height: 16.8pt;
}

#exhibitions-wrapper ul, #press-wrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 11pt;
  line-height: 12pt;
}

#exhibitions-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#exhibitions-spacer {
  width: 50px;
}

#exhibitions-first, #exhibitions-second {
  min-width: 200px;
}

#press-wrapper {
  margin-top: 130px;
  margin-bottom: 100px;
}

/* Projects */

#projects-background {
  background-image: url('images/projects-background.jpg');
}

#projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

#projects-title-wrapper {
  width: 100%;
  margin-top: 50px;
}

#projects-title {
  align-self: flex-start;
}

#projects-title h1 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 100;
  color: rgb(227, 15, 19);
  letter-spacing: 3px;
  margin: 0;
}

#projects-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 0px;
}

.project-tile {
  margin: 20px;
}

#project-tile-reflections {
  margin-top: 150px; 
  margin-bottom: 0px;
}

#project-tile-almost-no-memory {
  margin-top: 0px;
}

#project-tile-channel {
  margin-top: 50px;
}

#project-tile-second-nature {
  margin-top: 50px;
  margin-bottom: 0;
}

#project-tile-close-to-home {
  margin-top: -20px;
  margin-left: 40px;
}

#project-tile-wall-channel {
  margin-top: 70px;
  margin-bottom: 0;
}

@media (max-width: 812px) {
  #project-tile-wall-channel {
    margin-bottom: 70px;
  }
}

@media (max-width: 768px) {
  #project-tile-wall-channel {
    margin-left: 400px;
    margin-top: 0px;
  }
}

@media (max-width: 667px) {
  #project-tile-reflections {
    margin-top: 20px;
  }

  #project-tile-channel {
    margin-left: 100px;
  }

  #project-tile-second-nature {
    margin-bottom: 50px;
  }

  #project-tile-close-to-home {
    margin-top: -300px;
  }

  #project-tile-wall-channel {
    margin-top: -300px;
  }
}

@media (max-width: 414px) {
  #project-tile-reflections {
    margin-top: 50px;
  }

  #project-tile-almost-no-memory {
    margin-top: 20px;
  }

  #project-tile-channel {
    margin-top: -20px;
    margin-left: 180px;
  }

  #project-tile-second-nature {
    margin-top: 0;
  }

  #project-tile-close-to-home {
    margin-top: 50px;
  }

  #project-tile-wall-channel {
    margin-top: 0px;
    margin-left: 150px;
    margin-bottom: 100px;
  }
}

/* Fragments */

.fragments-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #fefffe;
}

.fragments-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.fragments-text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.fragments-text-inner {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.fragments-text-content {
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 90px;
}

.fragments-text-content h1 {
  font-size: 14pt;
  font-weight: 100;
  line-height: 16.8pt;
}

.fragments-text-content p {
  width: 320px;
  font-size: 11pt;
  font-weight: 100;
  line-height: 13.2pt;
}

.fragments-art {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
}

.fragments-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fragments-images a {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.fragments-plate-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 90px;
  width: 100%;
}

.fragments-plate {
  width: 335px;
  margin-left: 20px;
  font-size: 11pt;
  font-weight: 100;
  line-height: 13.2pt;
}

.fragments-plate p {
  margin: 0;
  margin-top: 2px;
  font-size: 9pt;
  font-weight: 100;
  line-height: 10.8pt;
}

/* Almost No Memory */

#almost-no-memory-wrapper {
  color: #68686a;
}

#almost-no-memory-max-width {
  max-width: 750px;
}

/* Channel */

#channel-wrapper {
  color: #9d9da6;
}

#channel-max-width {
  max-width: 1000px;
}

/* Close to Home */

#close-to-home-wrapper {
  color: #67676a;
}

#close-to-home-max-width {
  max-width: 750px;
}

/* Wall Channel */

#wall-channel-wrapper {
  color: #68686a;
  line-height: 20px;
}

#wall-channel-wrapper .fragments-plate {
  font-size: 12px;
  text-align: center;
}

#wall-channel-max-width {
  max-width: 750px;
}

/* Reflections */

#reflections-wrapper {
  height: 100%;
}

#reflections-first-wrapper {
  min-height: 100%;
  background-color: #f0ecea;
}

#reflections-background {
  width: 100%;
  min-height: 100%;
  max-height: 800px;
  position: absolute;
  background-image: url('images/reflections-main.jpg');
  background-size: cover;
  background-position: right;
  z-index: 1;
}

#reflections-first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

#reflections-text {
  margin-top: 20px;
  width: 320px;
  color: rgb(32, 38, 26);
}

#reflections-text h1 {
  font-size: 14pt;
  font-weight: 100;
  line-height: 12pt;
}

#reflections-text p {
  font-size: 11pt;
  font-weight: 100;
  line-height: 12pt;
}

#reflections-filler {
  min-width: min(500px, 100vw);
  height: 100vh;
}

#reflections-second {
  min-height: 100%;
  background-color: #aeb6ad;
  display: flex;
  justify-content: center;
}

#reflections-box {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#reflections-box > div {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 640px) {
  .reflections-row {
    justify-content: center;
  }
  
  .reflections-row img {
    margin: 10px;
  }
}

/* Second Nature */

#second-nature-background {
  width: 100%;
  min-height: 100%;
  max-height: 800px;
  position: absolute;
  background-image: url('images/second-nature-main.jpg');
  background-size: cover;
  background-position: right;
  z-index: 1;
}

#second-nature-wrapper {
  height: 100%;
}

#second-nature-first-wrapper {
  min-height: 100%;
  background-color: #b7b6b1;
}

#second-nature-first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  position: relative;
  z-index: 2;
}

#second-nature-filler {
  min-width: 375px;
  height: 775px;
}

#second-nature-text {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 220px;
  color: #fff;
  font-size: 11pt;
  font-weight: 100;
  line-height: 12pt;
  hyphens: auto;
}

#second-nature-second {
  min-height: 100%;
  background-color: #b7b6b1;
  display: flex;
  justify-content: center;
}

#second-nature-box {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#second-nature-box > div {
  justify-content: center;
}

#second-nature-box a {
  margin: 7px;
}

@media (max-width: 778px) {
  #second-nature-background {
    padding-left: 100px;
  }
}

@media (max-width: 590px) {
  #second-nature-background {
    padding-left: 0px;
  }
}

@media (max-height: 812px) {
  #second-nature-filler {
    height: 812px;
  }
}

@media (max-height: 736px) {
  #second-nature-filler {
    height: 700px;
  }
}
