html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Helvetica Neue Light", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.flex-space-filler {
  flex-grow: 1;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* Home */

#home-background {
  background-image: url('images/home-background.jpg');
}

#home-wrapper {
  display: flex;
  flex-direction: column;
}

#home-wrapper h1 {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 100;
  color: rgb(227, 15, 19);
  letter-spacing: 3.4px;
  margin-top: 50px;
  margin-left: 30px;
}

#home-content {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

#home-spacer {
  width: 200px;
}

#home-menu {
  min-width: 325px;
  margin-left: 50px;
}

#home-menu a {
  text-decoration: none;
  color: inherit;
}

#home-menu ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

#home-menu li {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
  color: rgb(227, 15, 19);
  margin-bottom: 15px;
}

#socials-icons {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#socials-icons img {
  height: 20px;
  width: 20px;
}

.social-icon {
  margin-right: 10px;
}

/* About */

#about-background {
  background-image: url('images/about-background.jpg');
}

#about-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#about-wrapper p {
  color: rgb(0, 36, 59);
  font-size: 15px;
  font-weight: 400;
  hyphens: auto;
  line-height: 22.5px;
  text-align: justify;
  margin: 0;
}

#profile-picture {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 25px;
}

#profile-picture img {
  width: 200px;
  height: 240px;
}

#about-first, #about-second {
  width: 250px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
}

#about-second {
  margin-bottom: 50px;
}

/* Exhibitions */

#exhibitions-background {
  background-image: url('images/exhibitions-background.jpg');
}

#exhibitions-top-spacer {
  height: 50px;
}

#exhibitions-wrapper, #press-wrapper {
  font-weight: 100;
  margin: 50px;
  margin-top: 0;
}

#exhibitions-wrapper h2, #press-wrapper h2 {
  font-weight: 100;
}

#exhibitions-wrapper ul, #press-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 22.5px;
}

#exhibitions-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#exhibitions-spacer {
  width: 50px;
}

#exhibitions-first, #exhibitions-second {
  min-width: 200px;
}

#press-wrapper {

}